.n2-section-smartslider {
    height: auto;

    div#n2-ss-2 {

        .n2-ss-button-container {

            a {

                div {
                    transition: all 0.3s ease-in;

                    &:hover {
                        font-size: 15px;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

    }

    @media (max-width: 767px) {
        height: 100vh;

        #n2-ss-2 {
            height: 100vh !important;

            .n2-ss-slide {
                .n2-ss-layer-with-background {
                    height: 100vh !important;
                    background-position: left center !important;

                    h1 {
                        margin-top: 70% !important;
                        font-size: 24px !important;
                    }

                    h2 {
                        font-size: 27px !important;
                    }
                }
            }
        }
    }
}